<h2>List</h2>

{{#each model as |task|}}
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Body:{{input type="text" value=task.body class="form-control"}}</p>
            <p>Complete: {{input type="checkbox" checked=task.complete class="form-control"}}</p>
            <p><button type="submit" class="btn btn-default" {{action 'saveTask' task}}>Update task</button></p>
            <p><button type="submit" class="btn btn-default" {{action 'deleteTask' task}}>Delete Task</button></p>
        </div>
    </div>
{{/each}}
{{outlet}}
